* {
    box-sizing: border-box;
  }

  element.style {
    position: static;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100vh;
    width: 100vw;
    flex: 3
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  #mainapp {
    display: flex;
  }

  #nav-bar {
    display: flex;
    width: 100vw;
    height: 4em;
    background-color: red;
    justify-content: center;
  }

  #nav-bar .nav-links{
    word-spacing: 20 px;
    text-decoration: none;
    margin: 1.2em 6em;
  }
  
  #option-box {
    background: grey;
    z-index: 10;
    width: 14em;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1
  }